{% extends "main.html.twig" %}

{% block title %}{{ 'books.remove.label'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.menu'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('admin_books') }}">{{ 'books.menu'|trans }}</a></li>
        <li class="breadcrumb-item"><a href="{{ path('show_book', { uuid: book.uuid }) }}">{{ book.title }}</a> <span class="badge text-bg-primary">{{ book.barcodeId }}</span></li>
        <li class="breadcrumb-item active">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    {{ form_start(form) }}

    <div class="card border-danger">
        <div class="card-header text-bg-danger">{{ 'books.remove.label'|trans }}</div>
        <div class="card-body">
            {{ form_widget(form.group_general.confirm) }}
        </div>
    </div>

    <div class="buttons">
        <button type="submit" class="btn btn-sm btn-danger">
            <i class="fas fa-save"></i> {{ 'actions.remove'|trans }}
        </button>

        <a href="javascript:history.back();" class="btn btn-sm btn-secondary">
            <i class="fas fa-arrow-left"></i> {{ 'actions.cancel'|trans }}
        </a>
    </div>
    {{ form_end(form) }}

{% endblock %}
