{% extends 'main.html.twig' %}

{% block title %}{{ 'checkouts.menu'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{{ path('dashboard') }}">{{ 'dashboard.menu'|trans }}</a></li>
        <li class="breadcrumb-item active">{{ block('title') }}</li>
    </ol>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <div class="d-flex flex-wrap mt-n2">
                <div class="flex-fill mt-2">
                    <form method="get" class="row row-cols-lg-auto g-1 align-items-center">
                        <div class="col">
                            <select class="form-select form-select-sm" name="limit" data-trigger="submit">
                                {% for number in [25, 50, 100, 150, 200, 250] %}
                                    <option value="{{ number }}" {% if checkouts.limit == number %}selected{% endif %}>{{ 'checkouts.limit'|trans({'%count%': number}) }}</option>
                                {% endfor %}
                            </select>
                        </div>

                        <div class="col">
                            <input class="form-control form-control-sm" type="text" name="query" placeholder="{{ 'filter.query.borrower'|trans }}" value="{{ query }}">
                        </div>

                        <div class="col">
                            <div class="input-group input-group-sm">
                                <span class="input-group-text"><i class="fas fa-calendar-alt"></i></span>
                                <input class="form-control" type="date" name="start" value="{% if start is not null %}{{ start|date('Y-m-d') }}{% endif %}">
                                <span class="input-group-text">-</span>
                                <input class="form-control" type="date" name="end" value="{% if end is not null %}{{ end|date('Y-m-d') }}{% endif %}">
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="active" value="1" id="onlyActive" {% if onlyActive %} checked{% endif %}>
                                <label class="form-check-label" for="onlyActive">
                                    {{ 'filter.checkouts.active'|trans }}
                                </label>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" name="overdue" value="1" id="onlyOverdue" {% if onlyOverdue %} checked{% endif %}>
                                <label class="form-check-label" for="onlyOverdue">
                                    {{ 'filter.checkouts.overdue'|trans }}
                                </label>
                            </div>
                        </div>

                        <div class="col">
                            <button type="submit" class="btn btn-outline-primary btn-sm">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>

                        {% if query is not empty or onlyOverdue or onlyActive or start is not null or end is not null %}
                            <div class="col">
                                <a href="{{ path('checkouts') }}" class="btn btn-outline-primary btn-sm">
                                    <i class="fas fa-times-circle"></i>
                                </a>
                            </div>
                        {% endif %}
                    </form>
                </div>

                <div class="ms-auto mt-2 d-flex align-items-center">
                    {% if is_granted('checkout-any') %}
                        <a href="{{ path('checkout') }}" class="btn btn-primary btn-sm">
                            <i class="fas fa-plus"></i> {{ 'checkouts.add.label'|trans }}
                        </a>
                    {% endif %}
                </div>
            </div>


        </div>

        {% if checkouts|length > 0 %}
            <div class="table-responsive">
                <table class="table table-hover table-striped card-table">
                    <colgroup>
                        <col>
                        <col class="column-md">
                        <col class="column-md">
                        <col class="column-md">
                        <col class="column-lg">
                        <col>
                        <col class="column-140">
                    </colgroup>
                    <thead>
                    <tr>
                        <th>{{ 'checkouts.book'|trans }}</th>
                        <th>{{ 'checkouts.start'|trans }}</th>
                        <th>{{ 'checkouts.expected_end'|trans }}</th>
                        <th>{{ 'checkouts.end'|trans }}</th>
                        <th>{{ 'checkouts.borrower'|trans }}</th>
                        <th>{{ 'checkouts.comment'|trans }}</th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for checkout in checkouts %}
                        <tr>
                            <td class="align-middle">
                                <a href="{{ path('show_book', { uuid: checkout.book.uuid }) }}">{{ checkout.book.title }}</a>

                                <span class="badge text-bg-primary">
                                    <i class="fas fa-barcode"></i> {{ checkout.book.barcodeId }}
                                </span>
                            </td>
                            <td class="align-middle">
                                {{ checkout.start|format_date }}
                            </td>
                            <td class="align-middle">
                                {{ checkout.expectedEnd|format_date }}

                                {% if checkout.overdue(today) %}
                                    <span class="badge text-bg-warning">{{ 'checkouts.overdue'|trans }}</span>
                                {% endif %}
                            </td>
                            <td class="align-middle">
                                {% if checkout.end is not null %}
                                    {{ checkout.end|format_date }}

                                    {% if checkout.wasReturnedLate %}
                                        <span class="badge text-bg-warning">{{ 'checkouts.late_return'|trans({'%count%': checkout.lateDays}) }}</span>
                                    {% endif %}
                                {% else %}
                                    <span class="badge text-bg-secondary">{{ 'checkouts.end_open'|trans }}</span>
                                {% endif %}
                            </td>
                            <td class="align-middle">
                                {% if checkout.borrower is not null %}
                                    <a href="{{ path('show_borrower', { uuid: checkout.borrower.uuid}) }}">{{ checkout.borrower }}</a>
                                {% else %}
                                    <span class="badge text-bg-warning">{{ 'checkouts.borrower_removed'|trans }}</span>
                                {% endif %}
                            </td>
                            <td class="align-middle">
                                {{ checkout.comment }}
                            </td>
                            <td class="align-middle">
                                {% if is_granted('show', checkout) %}
                                    <a href="{{ path('show_checkout', { uuid: checkout.uuid }) }}" class="btn btn-outline-primary btn-sm" title="{{ 'checkouts.show.label'|trans }}">
                                        <i class="fas fa-search"></i>
                                    </a>
                                {% endif %}

                                {% if is_granted('edit', checkout) %}
                                    <a href="{{ path('edit_checkout', { uuid: checkout.uuid }) }}" class="btn btn-outline-primary btn-sm" title="{{ 'checkouts.edit.label'|trans }}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                {% endif %}

                                {% if is_granted('delete', checkout) %}
                                    <a href="{{ path('remove_checkout', { uuid: checkout.uuid }) }}" class="btn btn-outline-danger btn-sm" title="{{ 'checkouts.remove.label'|trans }}">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}

        <div class="card-footer">
            <div class="d-flex">
                <div class="flex-fill align-self-center">
                    {{ 'checkouts.count'|trans({'%count%': checkouts.totalCount}) }}
                </div>

                <div class="ms-auto">
                    {% include '@Common/includes/pagination.html.twig' with {
                        currentFilters: {
                            query: query,
                            limit: checkouts.limit,
                            overdue: onlyOverdue ? 1 : 0,
                            active: onlyActive ? 1 : 0,
                            start: start|date('Y-m-d'),
                            end: end|date('Y-m-d')
                        },
                        currentPage: checkouts.page,
                        lastPage: checkouts.totalPages,
                        paginationPath: 'checkouts',
                        showAlwaysFirstAndLast: true
                    } %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
