{% extends "main.html.twig" %}

{% block title %}{{ 'dashboard.menu'|trans }}{% endblock %}

{% block breadcrumb %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">{{ 'dashboard.menu'|trans }}</li>
    </ol>
{% endblock %}

{% block content %}
    {% if is_granted('ROLE_BOOKS_ADMIN') or is_granted('ROLE_LENDER') %}
        <div class="row row-cols-1 row-cols-sm-{{ statistics|length }} g-4 mb-4 d-none d-sm-flex">
            {% for statistic in statistics %}
                <div class="col">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{ statistic.translationKey|trans }}</h5>
                            <p class="display-6">
                                {{ statistic.count }}
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if is_granted('ROLE_LENDER') %}
        <div class="row row-cols-1 row-cols-sm-2 g-4 mb-4 d-sm-flex">
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'dashboard.search.borrower'|trans }}</h5>

                        <form action="{{ path('admin_borrowers') }}" method="get">
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fas fa-barcode"></i>
                                </span>

                                <input class="form-control" type="text" name="query" placeholder="{{ 'dashboard.search.borrower_placeholder'|trans }}">
                                <button type="submit" class="btn btn-outline-primary">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ 'dashboard.search.book'|trans }}</h5>

                        <form action="{{ path('admin_books') }}" method="get">
                            <div class="input-group">
                                <span class="input-group-text">
                                    <i class="fas fa-barcode"></i>
                                </span>

                                <input class="form-control" type="text" name="query" placeholder="{{ 'dashboard.search.book_placeholder'|trans }}">
                                <button type="submit" class="btn btn-outline-primary">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="card-body">
            <h5 class="card-title">{{ 'dashboard.search.book'|trans }}</h5>

            <form action="{{ path('browse') }}" method="get">
                <div class="input-group">
                    <span class="input-group-text">
                        <i class="fas fa-barcode"></i>
                    </span>

                    <input class="form-control" type="text" name="q" placeholder="{{ 'dashboard.search.book_placeholder'|trans }}">
                    <button type="submit" class="btn btn-outline-primary">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </form>
        </div>
    {% endif %}

    {% if borrowers|length == 0 %}
        <div class="bs-callout bs-callout-info">
            <h5>{{ 'info.label'|trans }}</h5>
            <p>{{ 'dashboard.empty_borrowers'|trans }}</p>
        </div>
    {% endif %}

    {% for borrower in borrowers %}
        {% set activeCheckoutForBorrower = [ ] %}

        {% if activeCheckouts[borrower.id] is defined %}
            {% set activeCheckoutForBorrower = activeCheckouts[borrower.id] %}
        {% endif %}

        <div class="card">
            <div class="card-header">
                {{ 'dashboard.checkouts.active.title'|trans({'%firstname%' : borrower.firstname, '%lastname%': borrower.lastname}) }}
                <span class="badge text-bg-primary badge-pill">{{ activeCheckoutForBorrower|length }}</span>
            </div>

            <div class="list-group list-group-flush">
                {% for checkout in activeCheckoutForBorrower %}
                    {% set book = checkout.book %}
                    <a class="list-group-item list-group-item-action" href="{{ path('show_book', { uuid: book.uuid }) }}">
                        <div class="d-flex">
                            {% if book.coverFilename is not empty %}
                                <img src="{{ app.request.getSchemeAndHttpHost() }}/covers/{{ book.coverFilename }}" class="img-fluid rounded me-2" style="height: 100px;" alt="{{ book.title }}">
                            {% endif %}

                            <div class="flex-fill">
                                <h5 class="d-block mb-0">
                                    {{ book.title }}


                                    <span class="badge text-bg-secondary">{{ book.barcodeId }}</span>
                                </h5>
                                {% if book.subtitle is not empty %}
                                    <h6 class="text-muted">{{ book.subtitle }}</h6>
                                {% endif %}

                                {% if book.series is not empty %}
                                    <p class="text-muted mb-1">{{ book.series }}</p>
                                {% endif %}

                                <p class="mb-1">
                                    <i class="fas fa-user"></i> {{ book.authors|join(', ') }}
                                </p>

                                <p class="text-muted mb-1">
                                    <i class="fas fa-barcode"></i> {{ book.isbn }}
                                </p>

                                <p class="mb-1">
                                    <span class="start">
                                        <i class="fas fa-calendar-alt"></i>
                                        <i class="fas fa-arrow-right"></i>

                                        {{ checkout.start|format_date }}
                                    </span>

                                    <span class="end">
                                        <i class="fas fa-calendar-alt"></i>
                                        <i class="fas fa-exclamation"></i>

                                        {{ checkout.expectedEnd|format_date }}

                                        {% if checkout.expectedEnd < date() %}
                                            <span class="badge text-bg-danger">{{ 'dashboard.checkouts.active.overdue'|trans }}</span>
                                        {% endif %}
                                    </span>
                                </p>
                            </div>
                        </div>
                    </a>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
{% endblock %}
